<nav class="container flex items-center justify-between py-4">

  <!-- Logo -->
  <a [routerLink]="['/']" class="flex items-center gap-2">
    <p class="text-3xl font-bold text-primary">Logo</p>
  </a>


  <!-- NavBar Links -->
  <div class="flex items-center justify-center gap-x-[60px]">
    <div *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive="text-blue-500"
      class="text-[#757575] hover:text-black hover:opacity-100 duration-200">
      <!-- NavLink -->
      <a *ngIf="link.children?.length === 0" class="text-[#757575] hover:text-black hover:opacity-100 duration-200"
        [routerLink]="link.path" routerLinkActive="text-blue-500">{{ link.label }}</a>

      <!-- Drop Down -->
      <div *ngIf="link.children.length > 0" class="group relative cursor-pointer">
        <div class="flex items-center gap-1">
          <p class="text-[#757575] hover:text-black hover:opacity-100 duration-200">{{ link.label }}</p>
          <div class="group-hover:rotate-180 duration-200">

            <svg class="duration-200 group-hover:text-primary-light" xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" class="lucide lucide-chevron-down">
              <path d="m6 9 6 6 6-6" />
            </svg>
          </div>

        </div>
        <div
          class="absolute top-full left-0 w-[180px] bg-primary shadow-md rounded-md flex flex-col items-center text-center overflow-hidden group-hover:h-[272px] h-0 duration-200 transition-all">
          <a *ngFor="let child of link.children" [routerLink]="child.path"
            class="block w-full px-2 py-4 text-white hover:text-primary-light hover:bg-primary-dark duration-200"
            routerLinkActive="text-blue-500">{{
            child.label }}</a>
        </div>
      </div>
    </div>

  </div>

  <!-- Language Switch -->
  <div
    class="relative group h-[38px] w-[38px] overflow-visible hover:translate-y-1 duration-200 transition-all cursor-pointer">
    <div class="h-[38px] w-[38px] bg-[#B7B5AB] group-hover:bg-primary grid place-items-center text-white">
      <p class=" font-semibold">Fr</p>
    </div>
    <div
      class="h-0 duration-200 aboslute top-full left-0 group-hover:h-[38px] w-[38px] bg-[#B7B5AB] group-hover:bg-primary grid place-items-center text-white">
      <p class="hidden group-hover:block">En</p>
    </div>
  </div>
</nav>