<section class="bg-primary-dark relative overflow-hidden">
  <div
    class="container py-12 lg:py-20 flex flex-col lg:flex-row items-center justify-between gap-8 relative z-10 max-lg:px-8"
  >
    <p
      class="text-white max-lg:text-center text-lg lg:text-[27px] max-w-[660px] lg:leading-[39px]"
    >
      L'Afrique bouge ! Abonnez vous à la Newsletter de Gara pour découvrir les
      pépites du continent
    </p>

    <input
      type="email"
      name="email"
      class="block w-[274px] h-[50px] px-7 bg-white rounded-full placeholder:text-[#B6B6B6] outline-none"
      placeholder="Email"
    />
  </div>

  <!-- bg elements -->
  <div class="absolute -bottom-16 right-20 z-0">
    <img src="assets/images/bg_3.svg" class="block object-cover" />
  </div>
</section>
